In [7]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

from dotenv import load_dotenv
dotenv.load_dotenv(override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = 'SELECT * FROM dimproduct'
df = pd.read_sql(query, db_engine)
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [10]:
df["DealerPrice"].round(2)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601     60.74
602     72.89
603    323.99
604    323.99
605    323.99
Name: DealerPrice, Length: 606, dtype: float64

In [11]:
df["DealerPrice"].round()

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [14]:
df['DealerPrice'] = df['DealerPrice'].clip(lower=0, upper=1000)

In [15]:
df["DealerPrice"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64

In [17]:
import pandas as pd
import numpy as np

# Creazione del DataFrame sintetico
years = 5
a = pd.DataFrame({
    "Mese": list("GFMAMGLASOND" * years),
    "Anno": np.repeat(list(range(years)), 12),
    "Guadagni": np.random.randint(800, 5000, 12 * years)
})

# Calcolo della somma cumulativa delle vendite per ogni mese
a['Vendite_cumulative_mese'] = a.groupby('Mese')['Guadagni'].cumsum()

a

   Mese  Anno  Guadagni  Vendite_cumulative_mese
0     G     0      3025                     3025
1     F     0      1977                     1977
2     M     0      1877                     1877
3     A     0      4675                     4675
4     M     0      2054                     3931
5     G     0      1398                     4423
6     L     0      4682                     4682
7     A     0      4227                     8902
8     S     0      1216                     1216
9     O     0       824                      824
10    N     0      2784                     2784
11    D     0      1074                     1074
12    G     1      1218                     5641
13    F     1      2146                     4123
14    M     1      1314                     5245
15    A     1      3713                    12615
16    M     1      2372                     7617
17    G     1      4300                     9941
18    L     1      1025                     5707
19    A     1      1462                    14077
20    S     1      1457                     2673
21    O     1      2089                     2913
22    N     1      3650                     6434
23    D     1      3012                     4086
24    G     2      1855                    11796
25    F     2      3427                     7550
26    M     2      3296                    10913
27    A     2      4167                    18244
28    M     2      1695                    12608
29    G     2      1337                    13133
30    L     2      4857                    10564
31    A     2      4035                    22279
32    S     2      4238                     6911
33    O     2      4367                     7280
34    N     2      4343                    10777
35    D     2      3916                     8002
36    G     3      4007                    17140
37    F     3      1628                     9178
38    M     3       966                    13574
39    A     3      1570                    23849
40    M     3      2602                    16176
41    G     3      2090                    19230
42    L     3       814                    11378
43    A     3      4340                    28189
44    S     3      2842                     9753
45    O     3      3443                    10723
46    N     3      4625                    15402
47    D     3      4995                    12997
48    G     4       948                    20178
49    F     4      4603                    13781
50    M     4      3628                    19804
51    A     4      2374                    30563
52    M     4      4407                    24211
53    G     4      3699                    23877
54    L     4      2481                    13859
55    A     4      1054                    31617
56    S     4      3723                    13476
57    O     4      4751                    15474
58    N     4      3057                    18459
59    D     4      4638                    17635

In [19]:
a2= a['Vendite_cumulative_anno'] = a.groupby(['Anno', 'Mese'])['Guadagni'].cumsum()
a2

0     3025
1     1977
2     1877
3     4675
4     3931
5     4423
6     4682
7     8902
8     1216
9      824
10    2784
11    1074
12    1218
13    2146
14    1314
15    3713
16    3686
17    5518
18    1025
19    5175
20    1457
21    2089
22    3650
23    3012
24    1855
25    3427
26    3296
27    4167
28    4991
29    3192
30    4857
31    8202
32    4238
33    4367
34    4343
35    3916
36    4007
37    1628
38     966
39    1570
40    3568
41    6097
42     814
43    5910
44    2842
45    3443
46    4625
47    4995
48     948
49    4603
50    3628
51    2374
52    8035
53    4647
54    2481
55    3428
56    3723
57    4751
58    3057
59    4638
Name: Guadagni, dtype: int32

In [21]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

from dotenv import load_dotenv
dotenv.load_dotenv(override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

dfquery = 'SELECT * FROM dimcustomer'
df_customer = pd.read_sql(query, db_engine)
df_customer

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [22]:
import pandas as pd
# Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole
df_customer['FirstName'] = df_customer['FirstName'].str.lower()
df_customer['LastName'] = df_customer['LastName'].str.upper()

In [25]:
# Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio
df_customer[['Username', 'Domain']] = df_customer['EmailAddress'].str.split('@', expand=True)

In [28]:
df_customer["Domain"]

0        adventure-works.com
1        adventure-works.com
2        adventure-works.com
3        adventure-works.com
4        adventure-works.com
                ...
18479    adventure-works.com
18480    adventure-works.com
18481    adventure-works.com
18482    adventure-works.com
18483    adventure-works.com
Name: Domain, Length: 18484, dtype: object

In [30]:
# Sulla colonna Phone, estraiamo ogni parte del numero
df_customer['Phone_Parts'] = df_customer['Phone'].str.split()
df_customer['Phone_Parts']

0        [1, (11), 500, 555-0162]
1        [1, (11), 500, 555-0110]
2        [1, (11), 500, 555-0184]
3        [1, (11), 500, 555-0162]
4        [1, (11), 500, 555-0131]
                   ...
18479    [1, (11), 500, 555-0136]
18480    [1, (11), 500, 555-0146]
18481    [1, (11), 500, 555-0144]
18482    [1, (11), 500, 555-0137]
18483    [1, (11), 500, 555-0141]
Name: Phone_Parts, Length: 18484, dtype: object

In [72]:
# Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"
email_with_21= df_customer[df_customer['EmailAddress'].str.contains("21")]
email_with_21

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,Phone_Parts,Email_Length
64,11064,315,AW00011064,None,chase,None,REED,0,1981-06-05,M,...,2,2721 Alexander Pl.,None,892-555-0184,2013-01-25,5-10 Miles,chase21,adventure-works.com,[892-555-0184],27
118,11118,6,AW00011118,None,alvin,M,ZENG,0,1962-12-31,S,...,1,3853 Wildcat Circle,Unit 13c12,1 (11) 500 555-0174,2013-07-10,0-1 Miles,alvin21,adventure-works.com,"[1, (11), 500, 555-0174]",27
130,11130,543,AW00011130,None,caroline,L,RUSSELL,0,1985-07-05,M,...,2,3884 Bates Court,None,424-555-0137,2013-12-09,5-10 Miles,caroline21,adventure-works.com,[424-555-0137],30
163,11163,372,AW00011163,None,gabriel,None,WANG,0,1980-06-18,M,...,1,8002 Crane Court,None,617-555-0150,2013-05-01,5-10 Miles,gabriel21,adventure-works.com,[617-555-0150],29
203,11203,60,AW00011203,None,luis,D,DIAZ,0,1959-08-18,M,...,2,3682 Diablo View Road,None,171-555-0126,2013-02-20,10+ Miles,luis21,adventure-works.com,[171-555-0126],26
209,11209,336,AW00011209,None,allison,None,EVANS,0,1953-07-12,M,...,0,3515 Sutton Circle,None,988-555-0151,2013-03-25,10+ Miles,allison21,adventure-works.com,[988-555-0151],29
229,11229,355,AW00011229,None,adrian,C,STEWART,0,1957-06-01,S,...,1,6898 Shaw Rd.,None,812-555-0122,2013-07-27,10+ Miles,adrian21,adventure-works.com,[812-555-0122],28
246,11246,147,AW00011246,None,latasha,None,RUBIO,0,1962-04-08,M,...,4,Alderstr 7690,None,1 (11) 500 555-0178,2011-10-03,5-10 Miles,latasha21,adventure-works.com,"[1, (11), 500, 555-0178]",29
336,11336,204,AW00011336,None,shaun,None,RAJI,0,1973-03-08,M,...,0,"44, rue du Départ",None,1 (11) 500 555-0122,2012-09-27,0-1 Miles,shaun21,adventure-works.com,"[1, (11), 500, 555-0122]",27
388,11388,279,AW00011388,None,joseph,None,MARTIN,0,1965-01-20,M,...,0,7028 San Gabriel Dr.,None,1 (11) 500 555-0143,2011-07-03,0-1 Miles,joseph21,adventure-works.com,"[1, (11), 500, 555-0143]",28
402,11402,183,AW00011402,None,kelli,R,CAI,0,1975-05-20,M,...,0,"1216, place de la Concorde",None,1 (11) 500 555-0145,2012-11-07,0-1 Miles,kelli21,adventure-works.com,"[1, (11), 500, 555-0145]",27
467,11467,17,AW00011467,None,arturo,C,ZHENG,0,1975-04-06,M,...,4,9719 Hamilton Ave,None,1 (11) 500 555-0154,2013-07-31,0-1 Miles,arturo21,adventure-works.com,"[1, (11), 500, 555-0154]",28
489,11489,262,AW00011489,None,deborah,S,GOEL,0,1976-09-03,S,...,2,3670 All Ways Drive,None,1 (11) 500 555-0168,2011-10-28,1-2 Miles,deborah21,adventure-works.com,"[1, (11), 500, 555-0168]",29
548,11548,230,AW00011548,None,raymond,None,SANCHEZ,0,1974-04-11,S,...,0,2381 Tupelo Drive,None,1 (11) 500 555-0160,2011-12-02,0-1 Miles,raymond21,adventure-works.com,"[1, (11), 500, 555-0160]",29
552,11552,135,AW00011552,None,eddie,L,RUBIO,0,1972-11-23,S,...,1,Heiderplatz 662,None,1 (11) 500 555-0159,2014-01-06,1-2 Miles,eddie21,adventure-works.com,"[1, (11), 500, 555-0159]",27
585,11585,231,AW00011585,None,kari,L,PEREZ,0,1976-03-04,M,...,0,6124 Clayton Road,None,1 (11) 500 555-0192,2014-01-10,0-1 Miles,kari21,adventure-works.com,"[1, (11), 500, 555-0192]",26
604,11604,275,AW00011604,None,edgar,None,SANCHEZ,0,1982-12-01,S,...,1,6543 Jacobsen Street,None,1 (11) 500 555-0117,2012-01-03,2-5 Miles,edgar21,adventure-works.com,"[1, (11), 500, 555-0117]",27
655,11655,311,AW00011655,None,tamara,None,SHARMA,0,1982-03-28,S,...,0,4221 Birch Bark Road,None,164-555-0166,2013-09-29,2-5 Miles,tamara21,adventure-works.com,[164-555-0166],28
697,11697,348,AW00011697,None,eduardo,None,LEE,0,1975-06-21,M,...,2,265 Jeff Ct,None,993-555-0176,2013-08-07,0-1 Miles,eduardo21,adventure-works.com,[993-555-0176],29
757,11757,33,AW00011757,None,vincent,L,CAI,0,1979-05-11,M,...,3,5917 Panoramic Avenue,None,1 (11) 500 555-0116,2013-02-23,10+ Miles,vincent21,adventure-works.com,"[1, (11), 500, 555-0116]",29
770,11770,607,AW00011770,None,peter,T,NARA,0,1979-02-20,S,...,0,6489 Kentucky Drive,None,244-555-0113,2013-08-08,1-2 Miles,peter21,adventure-works.com,[244-555-0113],27
835,11835,53,AW00011835,None,elijah,M,RUSSELL,0,1970-12-17,S,...,2,1592 Working Drive,None,188-555-0159,2013-01-10,2-5 Miles,elijah21,adventure-works.com,[188-555-0159],28
910,11910,4,AW00011910,None,jaclyn,F,ZHENG,0,1971-12-10,M,...,3,7413 Alpine Drive,None,1 (11) 500 555-0117,2011-10-09,0-1 Miles,jaclyn21,adventure-works.com,"[1, (11), 500, 555-0117]",28
929,11929,17,AW00011929,None,virginia,None,GONZALEZ,0,1962-08-08,S,...,2,7566 Keller Ridge Dr.,None,1 (11) 500 555-0188,2011-10-14,5-10 Miles,virginia21,adventure-works.com,"[1, (11), 500, 555-0188]",30
947,11947,14,AW00011947,None,jenny,R,ZHENG,0,1957-04-20,S,...,2,8268 Donald Dr,None,1 (11) 500 555-0162,2011-10-13,1-2 Miles,jenny21,adventure-works.com,"[1, (11), 500, 555-0162]",27
1027,12027,635,AW00012027,None,haley,E,WOOD,0,1984-04-24,M,...,2,9695 Notre Dame Avenue,None,920-555-0199,2011-11-10,5-10 Miles,haley21,adventure-works.com,[920-555-0199],27
1125,12125,149,AW00012125,None,diana,None,ORTEGA,0,1962-07-12,M,...,2,Postfach 22 99 99,None,1 (11) 500 555-0184,2012-05-15,0-1 Miles,diana21,adventure-works.com,"[1, (11), 500, 555-0184]",27
1166,12166,54,AW00012166,None,jared,J,ROGERS,0,1984-03-06,M,...,2,1261 Sierrawood Court,None,903-555-0191,2013-07-11,5-10 Miles,jared21,adventure-works.com,[903-555-0191],27
1167,12167,637,AW00012167,None,sebastian,E,STEWART,0,1968-03-20,S,...,3,3307 Mt. Trinity Ct.,None,367-555-0118,2011-10-29,5-10 Miles,sebastian21,adventure-works.com,[367-555-0118],31
1225,12225,173,AW00012225,None,kathleen,G,ORTEGA,0,1964-05-01,M,...,0,Celler Weg 504,None,1 (11) 500 555-0178,2012-05-19,0-1 Miles,kathleen21,adventure-works.com,"[1, (11), 500, 555-0178]",30
1241,12241,19,AW00012241,None,kristine,None,SANDBERG,0,1985-05-05,S,...,1,6141 Race Road,None,1 (11) 500 555-0182,2011-12-16,0-1 Miles,kristine21,adventure-works.com,"[1, (11), 500, 555-0182]",30
1265,12265,219,AW00012265,None,alan,None,GUO,0,1964-12-30,S,...,1,"7, rue des Ecoles",None,1 (11) 500 555-0126,2011-04-26,1-2 Miles,alan21,adventure-works.com,"[1, (11), 500, 555-0126]",26
1357,12357,29,AW00012357,None,susan,C,LU,0,1982-04-03,S,...,3,4519 Sequoia Drive,None,1 (11) 500 555-0148,2013-10-29,10+ Miles,susan21,adventure-works.com,"[1, (11), 500, 555-0148]",27
1411,12411,311,AW00012411,None,kevin,None,ALEXANDER,0,1981-03-31,S,...,1,6115 Glenside Court,None,915-555-0172,2013-06-30,0-1 Miles,kevin21,adventure-works.com,[915-555-0172],27
1446,12446,331,AW00012446,None,jasmine,M,HALL,0,1963-01-31,M,...,1,5366 Clayton Way,None,147-555-0117,2011-12-08,1-2 Miles,jasmine21,adventure-works.com,[147-555-0117],29
1450,12450,329,AW00012450,None,cody,K,COOK,0,1964-03-22,M,...,0,7084 Catanzaro Way,None,807-555-0125,2011-12-24,0-1 Miles,cody21,adventure-works.com,[807-555-0125],26
1468,12468,200,AW00012468,None,wayne,None,NATH,0,1978-10-21,M,...,0,"95, avenue de l´ Union Centrale",None,1 (11) 500 555-0142,2011-07-12,2-5 Miles,wayne21,adventure-works.com,"[1, (11), 500, 555-0142]",27
1488,12488,208,AW00012488,None,jay,None,GARCIA,0,1968-11-08,S,...,2,"95, avenue de l´ Union Centrale",None,1 (11) 500 555-0166,2013-09-20,0-1 Miles,jay21,adventure-works.com,"[1, (11), 500, 555-0166]",25
1502,12502,264,AW00012502,None,darren,None,SANCHEZ,0,1985-05-17,S,...,2,7444 Margo Drive,None,1 (11) 500 555-0193,2013-02-03,0-1 Miles,darren21,adventure-works.com,"[1, (11), 500, 555-0193]",28
1525,12525,237,AW00012525,None,chelsea,None,RODRIGUEZ,0,1980-10-25,M,...,0,5444 Bohon Circle,None,1 (11) 500 555-0111,2013-05-25,1-2 Miles,chelsea21,adventure-works.com,"[1, (11), 500, 555-0111]",29
1583,12583,10,AW00012583,None,tyrone,H,ORTEGA,0,1982-02-04,S,...,0,332 West Slough Rd,None,1 (11) 500 555-0190,2012-02-28,2-5 Miles,tyrone21,adventure-works.com,"[1, (11), 500, 555-0190]",28
1603,12603,265,AW00012603,None,cole,None,REED,0,1971-02-15,S,...,0,117 Marvello Lane,None,1 (11) 500 555-0177,2013-04-06,0-1 Miles,cole21,adventure-works.com,"[1, (11), 500, 555-0177]",26
1635,12635,221,AW00012635,None,brad,None,BECK,0,1957-09-21,S,...,2,"132, rue des Pyrenees",None,1 (11) 500 555-0187,2013-03-22,2-5 Miles,brad21,adventure-works.com,"[1, (11), 500, 555-0187]",26
1660,12660,183,AW00012660,None,toni,H,SANCHEZ,0,1953-04-17,M,...,4,"75, rue du Départ",None,1 (11) 500 555-0116,2013-11-30,10+ Miles,toni21,adventure-works.com,"[1, (11), 500, 555-0116]",26
1696,12696,15,AW00012696,None,stacey,None,HU,0,1982-03-13,M,...,4,6299 Elmonte Drive,None,1 (11) 500 555-0172,2013-05-12,10+ Miles,stacey21,adventure-works.com,"[1, (11), 500, 555-0172]",28
1730,12730,279,AW00012730,None,karla,M,BECKER,0,1984-04-14,S,...,1,4185 River Ash Court,None,1 (11) 500 555-0164,2013-08-22,2-5 Miles,karla21,adventure-works.com,"[1, (11), 500, 555-0164]",27
1747,12747,147,AW00012747,None,colleen,J,HU,0,1982-10-29,S,...,2,Buergermeister-ulrich-str 543,None,1 (11) 500 555-0156,2012-11-27,1-2 Miles,colleen21,adventure-works.com,"[1, (11), 500, 555-0156]",29
1796,12796,611,AW00012796,None,jason,L,ZHANG,0,1964-09-04,M,...,0,6598 Oak Street,None,901-555-0172,2013-04-04,0-1 Miles,jason21,adventure-works.com,[901-555-0172],27
2101,13101,52,AW00013101,None,alex,K,SANCHEZ,0,1963-04-06,S,...,1,3164 San Simeon Dr.,None,793-555-0179,2013-04-03,2-5 Miles,alex21,adventure-works.com,[793-555-0179],26
2157,13157,29,AW00013157,None,heidi,Z,GONZALEZ,0,1945-08-22,M,...,2,5534 Fremont St.,None,1 (11) 500 555-0144,2013-08-30,5-10 Miles,heidi21,adventure-works.com,"[1, (11), 500, 555-0144]",27
2166,13166,343,AW00013166,None,kyle,None,CHEN,0,1981-09-10,M,...,1,8354 Sugar Valley Blv.,None,751-555-0117,2013-03-22,1-2 Miles,kyle21,adventure-works.com,[751-555-0117],26
2183,13183,641,AW00013183,None,christian,M,JENKINS,0,1948-01-18,M,...,2,9474 Old Mt. View Drive,None,787-555-0188,2013-03-12,5-10 Miles,christian21,adventure-works.com,[787-555-0188],31
2190,13190,301,AW00013190,None,jonathan,K,DIAZ,0,1947-08-09,S,...,3,1054 Vine Circle,None,114-555-0149,2012-01-10,5-10 Miles,jonathan21,adventure-works.com,[114-555-0149],30
2293,13293,307,AW00013293,None,barbara,None,LU,0,1968-01-10,M,...,2,9450 Almond Street,None,173-555-0168,2013-07-20,5-10 Miles,barbara21,adventure-works.com,[173-555-0168],29
2384,13384,611,AW00013384,None,mario,T,ASHE,0,1956-04-23,S,...,2,1809 Candellero Dr.,None,763-555-0114,2012-02-04,10+ Miles,mario21,adventure-works.com,[763-555-0114],27
2486,13486,49,AW00013486,None,rebekah,None,GOMEZ,0,1943-01-09,S,...,4,2656 Brook Way,None,125-555-0128,2013-04-22,0-1 Miles,rebekah21,adventure-works.com,[125-555-0128],29
2508,13508,205,AW00013508,None,cassandra,T,SANCHEZ,0,1943-02-06,M,...,0,"11, avenue de la Gare",None,1 (11) 500 555-0146,2013-02-04,0-1 Miles,cassandra21,adventure-works.com,"[1, (11), 500, 555-0146]",31
2529,13529,38,AW00013529,None,pamela,A,MARTINEZ,0,1982-11-30,S,...,0,9901 Sequoia Woods Pl,None,1 (11) 500 555-0113,2012-07-16,0-1 Miles,pamela21,adventure-works.com,"[1, (11), 500, 555-0113]",28
2549,13549,196,AW00013549,None,richard,None,KING,0,1974-10-15,S,...,0,"3, rue de Maubeuge",None,1 (11) 500 555-0180,2013-05-01,0-1 Miles,richard21,adventure-works.com,"[1, (11), 500, 555-0180]",29
2558,13558,190,AW00013558,None,karen,K,LU,0,1980-06-18,M,...,0,"22, rue de l'Espace De Schengen",None,1 (11) 500 555-0161,2011-12-16,0-1 Miles,karen21,adventure-works.com,"[1, (11), 500, 555-0161]",27
2561,13561,253,AW00013561,None,gary,E,NAVARRO,0,1975-02-04,M,...,0,1433 C Mt. Hood Crest,None,1 (11) 500 555-0110,2012-11-29,0-1 Miles,gary21,adventure-works.com,"[1, (11), 500, 555-0110]",26
2567,13567,176,AW00013567,None,anne,T,RUBIO,0,1957-03-24,M,...,2,Am Kreuz 416,None,1 (11) 500 555-0188,2011-03-05,0-1 Miles,anne21,adventure-works.com,"[1, (11), 500, 555-0188]",26
2627,13627,3,AW00013627,None,natasha,K,RUBIO,0,1978-01-04,M,...,3,7889 Mitchelleanjen Ln.,None,1 (11) 500 555-0115,2013-03-17,10+ Miles,natasha21,adventure-works.com,"[1, (11), 500, 555-0115]",29
2670,13670,13,AW00013670,None,brittney,K,ZENG,0,1969-03-26,S,...,2,9389 Fern Leaf Lane,None,1 (11) 500 555-0144,2013-02-22,0-1 Miles,brittney21,adventure-works.com,"[1, (11), 500, 555-0144]",30
2688,13688,264,AW00013688,None,ruben,S,SANCHEZ,0,1978-12-17,S,...,0,5828 Clark Creek Lane,None,1 (11) 500 555-0160,2013-06-29,1-2 Miles,ruben21,adventure-works.com,"[1, (11), 500, 555-0160]",27
2698,13698,133,AW00013698,None,catherine,None,SANCHEZ,0,1976-03-31,S,...,2,Viktoria-Luise-Platz 45,None,1 (11) 500 555-0180,2013-02-20,1-2 Miles,catherine21,adventure-works.com,"[1, (11), 500, 555-0180]",31
2712,13712,536,AW00013712,None,nancy,E,MARTINEZ,0,1971-12-30,S,...,0,5477 Limewood Place,None,162-555-0168,2012-05-04,1-2 Miles,nancy21,adventure-works.com,[162-555-0168],27
2865,13865,347,AW00013865,None,mariah,None,FOSTER,0,1977-12-21,M,...,0,3794 Francine Court,None,381-555-0157,2012-07-31,2-5 Miles,mariah21,adventure-works.com,[381-555-0157],28
2923,13923,326,AW00013923,None,steven,H,HOWARD,0,1973-09-22,S,...,1,1546 Cinnabar St.,None,544-555-0167,2013-04-10,0-1 Miles,steven21,adventure-works.com,[544-555-0167],28
2941,13941,60,AW00013941,None,brittany,None,HAYES,0,1977-05-24,M,...,1,8833 San Gabriel Dr,None,651-555-0169,2013-05-03,0-1 Miles,brittany21,adventure-works.com,[651-555-0169],30
2972,13972,30,AW00013972,None,eugene,None,LIANG,0,1970-09-30,S,...,1,2067 Black Point Pl,None,1 (11) 500 555-0194,2013-10-11,5-10 Miles,eugene21,adventure-works.com,"[1, (11), 500, 555-0194]",28
2994,13994,18,AW00013994,None,isaac,M,COOK,0,1952-01-14,M,...,2,7760 Woodbury Pl.,None,1 (11) 500 555-0155,2012-08-11,5-10 Miles,isaac21,adventure-works.com,"[1, (11), 500, 555-0155]",27
2995,13995,35,AW00013995,None,michele,None,BLACK,0,1952-12-07,M,...,2,8202 Lion Circle,None,1 (11) 500 555-0190,2013-05-15,1-2 Miles,michele21,adventure-works.com,"[1, (11), 500, 555-0190]",29
3039,14039,39,AW00014039,None,nathan,None,WANG,0,1970-09-15,S,...,3,7070 East Avenue,None,1 (11) 500 555-0166,2012-08-14,0-1 Miles,nathan21,adventure-works.com,"[1, (11), 500, 555-0166]",28
3043,14043,547,AW00014043,None,mary,None,GONZALEZ,0,1962-08-28,S,...,2,4373 Sherry Circle,None,385-555-0161,2013-03-05,5-10 Miles,mary21,adventure-works.com,[385-555-0161],26
3065,14065,23,AW00014065,None,samuel,None,DIAZ,0,1969-01-23,S,...,1,442 West Cliff Place,None,1 (11) 500 555-0127,2012-08-06,5-10 Miles,samuel21,adventure-works.com,"[1, (11), 500, 555-0127]",28
3125,14125,29,AW00014125,None,shane,Y,GONZALEZ,0,1983-11-16,S,...,1,9293 Mt. Washington Way,None,1 (11) 500 555-0117,2012-08-20,2-5 Miles,shane21,adventure-works.com,"[1, (11), 500, 555-0117]",27
3197,14197,156,AW00014197,None,frank,C,GILL,0,1960-01-30,M,...,4,Hans-Rosenthal-Platz 41,None,1 (11) 500 555-0154,2013-10-08,5-10 Miles,frank21,adventure-works.com,"[1, (11), 500, 555-0154]",27
3273,14273,361,AW00014273,None,angel,None,PARKER,0,1984-05-01,S,...,2,6045 Holiday Hills Dr.,None,815-555-0120,2013-09-06,1-2 Miles,angel21,adventure-works.com,[815-555-0120],27
3296,14296,536,AW00014296,None,benjamin,E,RUSSELL,0,1962-11-14,M,...,2,9088 Almaden Dr,None,810-555-0131,2013-05-28,1-2 Miles,benjamin21,adventure-works.com,[810-555-0131],30
3346,14346,4,AW00014346,None,evelyn,None,PEREZ,0,1946-11-29,S,...,2,1297 Zulu Court,None,1 (11) 500 555-0114,2012-09-26,5-10 Miles,evelyn21,adventure-works.com,"[1, (11), 500, 555-0114]",28
3415,14415,337,AW00014415,None,william,C,DAVIS,0,1962-11-12,M,...,2,2477 Everett Court,None,470-555-0162,2012-10-14,2-5 Miles,william21,adventure-works.com,[470-555-0162],29
3467,14467,634,AW00014467,None,aidan,None,RUSSELL,0,1966-11-01,M,...,2,2225 Rogers Ave.,None,716-555-0122,2013-05-10,5-10 Miles,aidan21,adventure-works.com,[716-555-0122],27
3562,14562,311,AW00014562,None,bryce,B,STEWART,0,1975-10-07,M,...,1,744 Piedra Dr.,None,412-555-0145,2013-05-19,0-1 Miles,bryce21,adventure-works.com,[412-555-0145],27
3586,14586,58,AW00014586,None,todd,None,ROWE,0,1973-05-10,S,...,1,1908 San Jose Ave,None,742-555-0195,2013-11-19,2-5 Miles,todd21,adventure-works.com,[742-555-0195],26
3632,14632,70,AW00014632,None,austin,A,WANG,0,1972-03-11,M,...,1,283 Winterberry Ct,None,224-555-0124,2013-03-01,2-5 Miles,austin21,adventure-works.com,[224-555-0124],28
3685,14685,24,AW00014685,None,lawrence,None,ORTEGA,0,1969-03-16,S,...,2,6660 Hill Top Rd.,None,1 (11) 500 555-0176,2013-08-01,0-1 Miles,lawrence21,adventure-works.com,"[1, (11), 500, 555-0176]",30
3729,14729,298,AW00014729,None,gloria,T,RUBIO,0,1977-07-04,S,...,0,5669 Ironwood Way,None,826-555-0199,2013-07-13,0-1 Miles,gloria21,adventure-works.com,[826-555-0199],28
3807,14807,211,AW00014807,None,brenda,M,MARTINEZ,0,1968-08-04,S,...,2,"487, rue Montcalm",None,1 (11) 500 555-0137,2013-09-22,0-1 Miles,brenda21,adventure-works.com,"[1, (11), 500, 555-0137]",28
3820,14820,244,AW00014820,None,drew,None,BHAT,0,1975-08-31,M,...,0,7942 C Mt. Hood,None,1 (11) 500 555-0131,2013-02-14,0-1 Miles,drew21,adventure-works.com,"[1, (11), 500, 555-0131]",26
3857,14857,37,AW00014857,None,diane,E,SERRANO,0,1954-07-27,M,...,2,378 Milburn Dr,None,1 (11) 500 555-0197,2013-02-20,1-2 Miles,diane21,adventure-works.com,"[1, (11), 500, 555-0197]",27
3870,14870,298,AW00014870,None,brandi,M,ORTEGA,0,1979-07-11,S,...,2,4684 Ptarmigan Drive,None,157-555-0139,2013-01-28,0-1 Miles,brandi21,adventure-works.com,[157-555-0139],28
3907,14907,311,AW00014907,None,sheena,L,ANAND,0,1961-09-01,M,...,1,683 Larch Ct.,None,457-555-0186,2013-08-30,1-2 Miles,sheena21,adventure-works.com,[457-555-0186],28
3993,14993,234,AW00014993,None,sean,None,MORGAN,0,1980-12-08,S,...,1,8437 Holbrook Dr.,None,1 (11) 500 555-0197,2013-03-01,2-5 Miles,sean21,adventure-works.com,"[1, (11), 500, 555-0197]",26
4004,15004,191,AW00015004,None,suzanne,None,HU,0,1979-06-04,S,...,2,"5407, rue Lauriston",None,1 (11) 500 555-0123,2012-06-27,1-2 Miles,suzanne21,adventure-works.com,"[1, (11), 500, 555-0123]",29
4014,15014,19,AW00015014,None,warren,None,LIU,0,1960-07-15,M,...,2,7596 Green St.,None,1 (11) 500 555-0131,2012-09-08,1-2 Miles,warren21,adventure-works.com,"[1, (11), 500, 555-0131]",28
4021,15021,4,AW00015021,None,lucas,J,MOORE,0,1956-10-09,M,...,2,Midi-Couleurs,None,1 (11) 500 555-0137,2013-03-20,1-2 Miles,lucas21,adventure-works.com,"[1, (11), 500, 555-0137]",27
4056,15056,244,AW00015056,None,jaime,L,SUAREZ,0,1964-09-29,M,...,1,7129 Corte Bonita,None,1 (11) 500 555-0196,2011-08-13,2-5 Miles,jaime21,adventure-works.com,"[1, (11), 500, 555-0196]",27
4064,15064,204,AW00015064,None,erik,C,RUBIO,0,1966-01-31,M,...,0,"4313, rue de Linois",None,1 (11) 500 555-0143,2012-06-10,0-1 Miles,erik21,adventure-works.com,"[1, (11), 500, 555-0143]",26
4118,15118,269,AW00015118,None,nelson,None,ORTEGA,0,1955-01-06,M,...,4,916 Sandview Dr.,None,1 (11) 500 555-0113,2011-08-31,10+ Miles,nelson21,adventure-works.com,"[1, (11), 500, 555-0113]",28
4143,15143,16,AW00015143,None,kelvin,S,WANG,0,1976-12-14,M,...,4,3467 Monzeneda Way,None,1 (11) 500 555-0149,2012-09-29,10+ Miles,kelvin21,adventure-works.com,"[1, (11), 500, 555-0149]",28
4159,15159,648,AW00015159,None,eric,None,WASHINGTON,0,1947-02-12,M,...,3,1345 La Luz,None,874-555-0150,2013-11-17,1-2 Miles,eric21,adventure-works.com,[874-555-0150],26
4165,15165,310,AW00015165,None,carl,None,ANAND,0,1949-01-08,M,...,3,8743 Roanwood Way,None,127-555-0124,2013-07-08,5-10 Miles,carl21,adventure-works.com,[127-555-0124],26
4175,15175,41,AW00015175,None,kristi,S,MALHOTRA,0,1984-11-21,S,...,2,4605 Springvale Court,None,380-555-0148,2013-06-15,5-10 Miles,kristi21,adventure-works.com,[380-555-0148],28
4190,15190,302,AW00015190,None,katherine,L,WATSON,0,1980-02-16,S,...,2,7047 Poncho St,None,853-555-0161,2013-12-05,5-10 Miles,katherine21,adventure-works.com,[853-555-0161],31
4280,15280,358,AW00015280,None,mya,L,GRIFFIN,0,1973-12-11,S,...,1,8964 Yosemite Ct,None,846-555-0139,2012-02-24,1-2 Miles,mya21,adventure-works.com,[846-555-0139],25
4339,15339,322,AW00015339,None,noah,J,ZHANG,0,1955-12-29,M,...,1,1295 Fabian Way,None,925-555-0143,2012-04-14,10+ Miles,noah21,adventure-works.com,[925-555-0143],26

In [41]:
emails_with_20_or_10 = df_customer[df_customer['EmailAddress'].str.contains("20|10")]
emails_with_20_or_10

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,Phone_Parts
1,11001,37,AW00011001,None,eugene,L,HUANG,0,1976-05-10,S,...,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles,eugene10,adventure-works.com,"[1, (11), 500, 555-0110]"
10,11010,22,AW00011010,None,jacquelyn,C,SUAREZ,0,1969-08-05,S,...,0,1,7800 Corrinne Court,None,1 (11) 500 555-0169,2011-01-14,5-10 Miles,jacquelyn20,adventure-works.com,"[1, (11), 500, 555-0169]"
22,11022,609,AW00011022,None,ethan,G,ZHANG,0,1984-04-10,M,...,1,1,1769 Nicholas Drive,None,589-555-0185,2013-01-20,5-10 Miles,ethan20,adventure-works.com,[589-555-0185]
30,11030,28,AW00011030,None,bethany,G,YUAN,0,1958-02-18,M,...,1,2,636 Vine Hill Way,None,1 (11) 500 555-0182,2011-02-05,1-2 Miles,bethany10,adventure-works.com,"[1, (11), 500, 555-0182]"
32,11032,35,AW00011032,None,denise,None,STONE,0,1952-12-08,M,...,1,2,626 Bentley Street,None,1 (11) 500 555-0169,2011-02-18,1-2 Miles,denise10,adventure-works.com,"[1, (11), 500, 555-0169]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18395,29395,203,AW00029395,None,lydia,None,RANA,0,1939-10-06,S,...,0,1,"182, avenue des Laurentides",None,1 (11) 500 555-0182,2013-12-05,1-2 Miles,lydia10,adventure-works.com,"[1, (11), 500, 555-0182]"
18397,29397,193,AW00029397,None,walter,E,RAMOS,0,1976-05-10,M,...,1,1,"2408, rue Maillard",None,1 (11) 500 555-0143,2012-08-08,0-1 Miles,walter10,adventure-works.com,"[1, (11), 500, 555-0143]"
18415,29415,223,AW00029415,None,oscar,L,FLORES,0,1983-03-25,S,...,1,1,"816, avenue des Champs-Elysées",None,1 (11) 500 555-0112,2012-08-02,2-5 Miles,oscar20,adventure-works.com,"[1, (11), 500, 555-0112]"
18418,29418,163,AW00029418,None,lindsey,None,SHARMA,0,1981-04-19,S,...,0,1,Zollstr 680,Verkaufsabteilung,1 (11) 500 555-0134,2013-12-22,5-10 Miles,lindsey10,adventure-works.com,"[1, (11), 500, 555-0134]"
18428,29428,156,AW00029428,None,kristopher,E,PEREZ,0,1979-12-09,M,...,1,2,Altendorfer Straße 39,Einkaufsabteilung,1 (11) 500 555-0183,2013-02-05,1-2 Miles,kristopher20,adventure-works.com,"[1, (11), 500, 555-0183]"

In [45]:
# Calcoliamo la lunghezza di ogni indirizzo e-mail
df_customer['Email_Length'] = df_customer['EmailAddress'].str.len()
df_customer["Email_Length"]

0        25
1        28
2        27
3        29
4        30
         ..
18479    26
18480    26
18481    25
18482    28
18483    26
Name: Email_Length, Length: 18484, dtype: int64

In [56]:
# Estraiamo i dieci indirizzi e-mail più lunghi e i dieci più corti
df_customer.nlargest(10, 'Email_Length')

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,Phone_Parts,Email_Length
979,11979,69,AW00011979,None,christopher,None,JOHNSON,0,1962-11-05,M,...,2,9234 Carmel Drive,None,130-555-0198,2013-02-14,1-2 Miles,christopher25,adventure-works.com,[130-555-0198],33
1767,12767,648,AW00012767,None,christopher,A,ROBINSON,0,1960-05-02,M,...,1,9863 Mt. Mckinley Ct.,None,910-555-0123,2013-08-23,5-10 Miles,christopher18,adventure-works.com,[910-555-0123],33
2655,13655,609,AW00013655,None,christopher,L,WALKER,0,1951-12-31,M,...,3,7646 H Stagecoach Rd,None,102-555-0150,2013-11-06,5-10 Miles,christopher23,adventure-works.com,[102-555-0150],33
3512,14512,633,AW00014512,None,christopher,J,JONES,0,1979-09-03,M,...,3,5077 Bannock Ct.,None,852-555-0198,2013-02-06,1-2 Miles,christopher27,adventure-works.com,[852-555-0198],33
4772,15772,361,AW00015772,None,christopher,None,ANDERSON,0,1968-03-09,M,...,2,2216 Blue Ridge Dr.,None,993-555-0186,2013-07-19,1-2 Miles,christopher10,adventure-works.com,[993-555-0186],33
4973,15973,638,AW00015973,None,christopher,None,GARCIA,0,1942-05-23,M,...,2,8714 Minert Rd,None,171-555-0119,2013-12-03,1-2 Miles,christopher16,adventure-works.com,[171-555-0119],33
7755,18755,50,AW00018755,None,christopher,None,LEWIS,0,1982-02-21,S,...,2,7513 Royal Links Ct.,None,410-555-0143,2013-03-26,5-10 Miles,christopher21,adventure-works.com,[410-555-0143],33
8768,19768,310,AW00019768,None,christopher,C,JACKSON,0,1986-04-15,S,...,2,5378 Kentucky Drive,None,178-555-0116,2013-04-21,1-2 Miles,christopher12,adventure-works.com,[178-555-0116],33
9242,20242,18,AW00020242,None,christopher,M,THOMAS,0,1937-01-03,M,...,2,9650 Leisure Lane,None,1 (11) 500 555-0137,2011-10-09,0-1 Miles,christopher11,adventure-works.com,"[1, (11), 500, 555-0137]",33
10233,21233,358,AW00021233,None,christopher,E,SMITH,0,1981-09-12,M,...,2,6030 Dubne Court,None,140-555-0128,2013-04-04,0-1 Miles,christopher24,adventure-works.com,[140-555-0128],33

In [61]:
df_customer.nsmallest(10, 'Email_Length')

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,Phone_Parts,Email_Length
3974,14974,249,AW00014974,Mr.,k.,None,SARAVAN,0,1984-12-29,S,...,2,3272 Ryan Court,None,156-555-0100,2013-03-31,0-1 Miles,k0,adventure-works.com,[156-555-0100],22
15299,26299,642,AW00026299,None,y.,L.,YONG,0,1983-07-24,S,...,0,5387 La Orinda Pl.,None,856-555-0157,2012-02-15,0-1 Miles,y0,adventure-works.com,[856-555-0157],22
8,11008,32,AW00011008,None,rob,None,VERHOFF,0,1975-07-04,S,...,3,624 Peabody Road,None,1 (11) 500 555-0164,2011-01-25,10+ Miles,rob4,adventure-works.com,"[1, (11), 500, 555-0164]",24
53,11053,359,AW00011053,None,ana,E,PRICE,0,1986-02-17,M,...,2,1660 Stonyhill Circle,None,859-555-0113,2013-01-17,1-2 Miles,ana0,adventure-works.com,[859-555-0113],24
215,11215,62,AW00011215,None,ana,None,PERRY,0,1961-06-17,M,...,2,3114 Arlington Way,None,446-555-0134,2013-02-15,10+ Miles,ana7,adventure-works.com,[446-555-0134],24
550,11550,263,AW00011550,None,deb,None,TORRES,0,1979-08-05,S,...,0,7553 Harness Circle,None,1 (11) 500 555-0125,2012-01-20,0-1 Miles,deb4,adventure-works.com,"[1, (11), 500, 555-0125]",24
710,11710,331,AW00011710,None,zoe,R,RAMIREZ,0,1967-09-17,M,...,2,8085 Grasswood Ct,None,712-555-0144,2013-11-23,2-5 Miles,zoe6,adventure-works.com,[712-555-0144],24
986,11986,34,AW00011986,None,max,M,ALVAREZ,0,1969-01-20,S,...,1,4594 Rose Dr.,None,1 (11) 500 555-0124,2011-11-22,5-10 Miles,max5,adventure-works.com,"[1, (11), 500, 555-0124]",24
1658,12658,279,AW00012658,None,joy,J,GOMEZ,0,1960-01-08,M,...,4,1698 10th Avenue,None,1 (11) 500 555-0127,2012-09-10,0-1 Miles,joy2,adventure-works.com,"[1, (11), 500, 555-0127]",24
1899,12899,325,AW00012899,None,ana,T,ROSS,0,1976-01-08,M,...,1,1059 Stonewood Ct,None,532-555-0185,2013-12-17,2-5 Miles,ana4,adventure-works.com,[532-555-0185],24

In [59]:

# Modifichiamo il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com"
df_customer['EmailAddress'] = df_customer['EmailAddress'].str.replace("adventure-works.com", "aw-db.com")
df_customer["EmailAddress"]

0             jon24@aw-db.com
1          eugene10@aw-db.com
2           ruben35@aw-db.com
3         christy12@aw-db.com
4        elizabeth5@aw-db.com
                 ...
18479        tommy2@aw-db.com
18480        nina21@aw-db.com
18481         ivan0@aw-db.com
18482      clayton0@aw-db.com
18483        jésus9@aw-db.com
Name: EmailAddress, Length: 18484, dtype: object

In [76]:
# Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"
addresses_with_street = df_customer[df_customer['AddressLine1'].str.contains("Street")]
pd.set_option('display.max_rows',10)
addresses_with_street

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,Phone_Parts,Email_Length
7,11007,40,AW00011007,None,marco,None,MEHTA,0,1969-11-06,M,...,2,942 Brook Street,None,1 (11) 500 555-0126,2011-01-09,0-1 Miles,marco14,adventure-works.com,"[1, (11), 500, 555-0126]",27
12,11012,611,AW00011012,None,lauren,M,WALKER,0,1979-01-14,M,...,2,4785 Scott Street,None,717-555-0164,2013-03-16,1-2 Miles,lauren41,adventure-works.com,[717-555-0164],28
32,11032,35,AW00011032,None,denise,None,STONE,0,1952-12-08,M,...,2,626 Bentley Street,None,1 (11) 500 555-0169,2011-02-18,1-2 Miles,denise10,adventure-works.com,"[1, (11), 500, 555-0169]",28
63,11063,634,AW00011063,None,angela,None,MURPHY,0,1980-10-04,S,...,2,4927 Virgil Street,# 21,451-555-0162,2013-01-12,5-10 Miles,angela41,adventure-works.com,[451-555-0162],28
125,11125,37,AW00011125,None,dana,J,NAVARRO,0,1961-10-06,S,...,1,8481 Zartop Street,None,1 (11) 500 555-0172,2013-01-31,5-10 Miles,dana2,adventure-works.com,"[1, (11), 500, 555-0172]",25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,29273,298,AW00029273,None,timothy,O,LOPEZ,0,1971-02-08,M,...,2,2155 Zartop Street,None,137-555-0130,2013-08-26,5-10 Miles,timothy38,adventure-works.com,[137-555-0130],29
18292,29292,34,AW00029292,None,diana,L,DOMINGUEZ,0,1978-01-03,S,...,0,3931 Scott Street,None,1 (11) 500 555-0117,2013-04-07,0-1 Miles,diana12,adventure-works.com,"[1, (11), 500, 555-0117]",27
18323,29323,60,AW00029323,None,andrea,None,COOPER,0,1981-09-12,S,...,2,134 Peachwillow Street,None,586-555-0120,2013-08-13,5-10 Miles,andrea17,adventure-works.com,[586-555-0120],28
18333,29333,27,AW00029333,None,abby,None,MARTINEZ,0,1943-03-10,S,...,2,1023 Hawkins Street,None,1 (11) 500 555-0150,2013-03-08,0-1 Miles,abby15,adventure-works.com,"[1, (11), 500, 555-0150]",26
18351,29351,49,AW00029351,None,jason,A,HALL,0,1970-12-24,S,...,2,8618 Rose Street,None,158-555-0156,2013-10-11,0-1 Miles,jason49,adventure-works.com,[158-555-0156],27

In [78]:
df= pd.read_csv("facebook.csv")
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0

In [82]:
# Converti la colonna status_published in formato Timestamp
df['status_published'] = pd.to_datetime(df['status_published'])
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_published_formatted,status_published_tz
0,246675545449582_1649696485147474,video,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,2018-04-22 06:00:00,2018-04-22 06:00:00+00:00
1,246675545449582_1649426988507757,photo,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,2018-04-21 22:45:00,2018-04-21 22:45:00+00:00
2,246675545449582_1648730588577397,video,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,2018-04-21 06:17:00,2018-04-21 06:17:00+00:00
3,246675545449582_1648576705259452,photo,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2018-04-21 02:29:00,2018-04-21 02:29:00+00:00
4,246675545449582_1645700502213739,photo,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,2018-04-18 03:22:00,2018-04-18 03:22:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,2016-09-24 02:58:00,89,0,0,89,0,0,0,0,0,2016-09-24 02:58:00,2016-09-24 02:58:00+00:00
7046,1050855161656896_1061334757275603,photo,2016-09-23 11:19:00,16,0,0,14,1,0,1,0,0,2016-09-23 11:19:00,2016-09-23 11:19:00+00:00
7047,1050855161656896_1060126464063099,photo,2016-09-21 23:03:00,2,0,0,1,1,0,0,0,0,2016-09-21 23:03:00,2016-09-21 23:03:00+00:00
7048,1050855161656896_1058663487542730,photo,2016-09-20 00:43:00,351,12,22,349,2,0,0,0,0,2016-09-20 00:43:00,2016-09-20 00:43:00+00:00
7049,1050855161656896_1050858841656528,photo,2016-09-10 10:30:00,17,0,0,17,0,0,0,0,0,2016-09-10 10:30:00,2016-09-10 10:30:00+00:00

In [84]:
# Formatta le date delle pubblicazioni in un formato specifico
df['status_published_formatted'] = df['status_published'].dt.strftime("%Y-%m-%d %H:%M:%S")
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_published_formatted,status_published_tz
0,246675545449582_1649696485147474,video,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,2018-04-22 06:00:00,2018-04-22 06:00:00+00:00
1,246675545449582_1649426988507757,photo,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,2018-04-21 22:45:00,2018-04-21 22:45:00+00:00
2,246675545449582_1648730588577397,video,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,2018-04-21 06:17:00,2018-04-21 06:17:00+00:00
3,246675545449582_1648576705259452,photo,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2018-04-21 02:29:00,2018-04-21 02:29:00+00:00
4,246675545449582_1645700502213739,photo,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,2018-04-18 03:22:00,2018-04-18 03:22:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,2016-09-24 02:58:00,89,0,0,89,0,0,0,0,0,2016-09-24 02:58:00,2016-09-24 02:58:00+00:00
7046,1050855161656896_1061334757275603,photo,2016-09-23 11:19:00,16,0,0,14,1,0,1,0,0,2016-09-23 11:19:00,2016-09-23 11:19:00+00:00
7047,1050855161656896_1060126464063099,photo,2016-09-21 23:03:00,2,0,0,1,1,0,0,0,0,2016-09-21 23:03:00,2016-09-21 23:03:00+00:00
7048,1050855161656896_1058663487542730,photo,2016-09-20 00:43:00,351,12,22,349,2,0,0,0,0,2016-09-20 00:43:00,2016-09-20 00:43:00+00:00
7049,1050855161656896_1050858841656528,photo,2016-09-10 10:30:00,17,0,0,17,0,0,0,0,0,2016-09-10 10:30:00,2016-09-10 10:30:00+00:00

In [86]:
# Estraiamo solo i post relativi al 2012
posts_2012 = df[df['status_published'].dt.year == 2012]
posts_2012

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_published_formatted,status_published_tz
2046,246675545449582_303160673134402,photo,2012-12-23 03:11:00,0,0,0,0,0,0,0,0,0,2012-12-23 03:11:00,2012-12-23 03:11:00+00:00
2047,246675545449582_302341609882975,photo,2012-12-21 06:02:00,4,1,0,4,0,0,0,0,0,2012-12-21 06:02:00,2012-12-21 06:02:00+00:00
2048,246675545449582_299212316862571,photo,2012-12-13 11:36:00,3,0,0,3,0,0,0,0,0,2012-12-13 11:36:00,2012-12-13 11:36:00+00:00
2049,246675545449582_290159194434550,photo,2012-11-18 09:50:00,5,1,1,5,0,0,0,0,0,2012-11-18 09:50:00,2012-11-18 09:50:00+00:00
2050,246675545449582_290154177768385,photo,2012-11-18 09:16:00,2,0,0,2,0,0,0,0,0,2012-11-18 09:16:00,2012-11-18 09:16:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2630,246675545449582_246688625448274,photo,2012-07-15 03:54:00,19,17,3,19,0,0,0,0,0,2012-07-15 03:54:00,2012-07-15 03:54:00+00:00
2631,246675545449582_246686478781822,photo,2012-07-15 03:42:00,12,3,0,12,0,0,0,0,0,2012-07-15 03:42:00,2012-07-15 03:42:00+00:00
2632,246675545449582_246684432115360,photo,2012-07-15 03:32:00,14,1,0,14,0,0,0,0,0,2012-07-15 03:32:00,2012-07-15 03:32:00+00:00
2633,246675545449582_246678538782616,photo,2012-07-15 02:58:00,14,7,0,14,0,0,0,0,0,2012-07-15 02:58:00,2012-07-15 02:58:00+00:00
2634,246675545449582_246677465449390,photo,2012-07-15 02:51:00,15,3,0,15,0,0,0,0,0,2012-07-15 02:51:00,2012-07-15 02:51:00+00:00

In [87]:
posts_may_2018 = df[(df['status_published'].dt.year == 2018) & (df['status_published'].dt.month == 5)]
posts_may_2018

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_published_formatted,status_published_tz
2690,134115277150304_264554297439734,photo,2018-05-31 12:17:00,11,0,0,10,0,1,0,0,0,2018-05-31 12:17:00,2018-05-31 12:17:00+00:00
2691,134115277150304_264493694112461,photo,2018-05-31 08:37:00,56,4,2,55,1,0,0,0,0,2018-05-31 08:37:00,2018-05-31 08:37:00+00:00
2692,134115277150304_264416247453539,photo,2018-05-31 03:12:00,72,13,1,69,3,0,0,0,0,2018-05-31 03:12:00,2018-05-31 03:12:00+00:00
2693,134115277150304_264168277478336,photo,2018-05-30 08:46:00,10,0,0,10,0,0,0,0,0,2018-05-30 08:46:00,2018-05-30 08:46:00+00:00
2694,134115277150304_264160757479088,photo,2018-05-30 08:24:00,56,3,12,54,2,0,0,0,0,2018-05-30 08:24:00,2018-05-30 08:24:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339,1050855161656896_1615666458509094,link,2018-05-04 01:27:00,12,7,7,12,0,0,0,0,0,2018-05-04 01:27:00,2018-05-04 01:27:00+00:00
6340,1050855161656896_1614717551937318,photo,2018-05-03 01:15:00,63,21,1,62,1,0,0,0,0,2018-05-03 01:15:00,2018-05-03 01:15:00+00:00
6341,1050855161656896_1614187798656960,photo,2018-05-02 12:17:00,218,105,153,212,2,4,0,0,0,2018-05-02 12:17:00,2018-05-02 12:17:00+00:00
6342,1050855161656896_1613063202102753,video,2018-05-01 08:38:00,246,2373,475,108,130,5,2,1,0,2018-05-01 08:38:00,2018-05-01 08:38:00+00:00
6343,1050855161656896_1612778858797854,photo,2018-05-01 01:18:00,34,5,0,33,1,0,0,0,0,2018-05-01 01:18:00,2018-05-01 01:18:00+00:00

In [88]:
# Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana
weekend_posts = df[df['status_published'].dt.dayofweek.isin([5, 6])]
weekday_posts = df[~df['status_published'].dt.dayofweek.isin([5, 6])]
num_weekend_posts = len(weekend_posts)
num_weekday_posts = len(weekday_posts)
print("Numero di post pubblicati nel weekend:", num_weekend_posts)
print("Numero di post pubblicati nel resto della settimana:", num_weekday_posts)

Numero di post pubblicati nel weekend: 2041
Numero di post pubblicati nel resto della settimana: 5009

In [91]:
# Troviamo il primo e ultimo post pubblicati in ogni anno
first_post_per_year = df.groupby(df['status_published'].dt.year)['status_published'].min()
last_post_per_year = df.groupby(df['status_published'].dt.year)['status_published'].max()
print(first_post_per_year)

print(last_post_per_year)

status_published
2012   2012-07-15 02:51:00
2013   2013-01-02 02:23:00
2014   2014-01-05 09:23:00
2015   2015-01-02 03:41:00
2016   2016-01-03 04:23:00
2017   2017-01-02 08:25:00
2018   2018-01-01 01:39:00
Name: status_published, dtype: datetime64[ns]
status_published
2012   2012-12-23 03:11:00
2013   2013-12-31 23:38:00
2014   2014-12-10 07:42:00
2015   2015-12-31 08:20:00
2016   2016-12-31 05:13:00
2017   2017-12-31 22:15:00
2018   2018-06-13 01:12:00
Name: status_published, dtype: datetime64[ns]

In [93]:
# Aggiungi un fuso orario alle date delle transazioni
df['status_published_tz'] = df['status_published'].dt.tz_localize('UTC')
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_published_formatted,status_published_tz
0,246675545449582_1649696485147474,video,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,2018-04-22 06:00:00,2018-04-22 06:00:00+00:00
1,246675545449582_1649426988507757,photo,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,2018-04-21 22:45:00,2018-04-21 22:45:00+00:00
2,246675545449582_1648730588577397,video,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,2018-04-21 06:17:00,2018-04-21 06:17:00+00:00
3,246675545449582_1648576705259452,photo,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2018-04-21 02:29:00,2018-04-21 02:29:00+00:00
4,246675545449582_1645700502213739,photo,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,2018-04-18 03:22:00,2018-04-18 03:22:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,2016-09-24 02:58:00,89,0,0,89,0,0,0,0,0,2016-09-24 02:58:00,2016-09-24 02:58:00+00:00
7046,1050855161656896_1061334757275603,photo,2016-09-23 11:19:00,16,0,0,14,1,0,1,0,0,2016-09-23 11:19:00,2016-09-23 11:19:00+00:00
7047,1050855161656896_1060126464063099,photo,2016-09-21 23:03:00,2,0,0,1,1,0,0,0,0,2016-09-21 23:03:00,2016-09-21 23:03:00+00:00
7048,1050855161656896_1058663487542730,photo,2016-09-20 00:43:00,351,12,22,349,2,0,0,0,0,2016-09-20 00:43:00,2016-09-20 00:43:00+00:00
7049,1050855161656896_1050858841656528,photo,2016-09-10 10:30:00,17,0,0,17,0,0,0,0,0,2016-09-10 10:30:00,2016-09-10 10:30:00+00:00

In [95]:
# Calcola la differenza di tempo tra due transazioni
diff_between_transactions = df['status_published'].diff()
diff_between_transactions

0                     NaT
1       -1 days +16:45:00
2       -1 days +07:32:00
3       -1 days +20:12:00
4       -3 days +00:53:00
              ...
7045    -1 days +22:21:00
7046    -1 days +08:21:00
7047    -2 days +11:44:00
7048    -2 days +01:40:00
7049   -10 days +09:47:00
Name: status_published, Length: 7050, dtype: timedelta64[ns]

In [99]:
# Conta i tipi di post e quanti ne sono per ogni tipo

num_post_per_type = df['status_type'].value_counts()

In [98]:
# Stampa il risultato
print("Numero di post per tipo:")
print(num_post_per_type)

Numero di post per tipo:
status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [101]:
import pandas as pd

# Carica il file pokemon.csv in un DataFrame
df = pd.read_csv('pokemon.csv')

# Controlla se ci sono valori nulli nel dataset e conta quanti valori nulli ci sono in ogni colonna
null_values = df.isnull().sum()

# Stampa il numero di valori nulli in ogni colonna
print("Numero di valori nulli in ogni colonna:")
print(null_values)

Numero di valori nulli in ogni colonna:
#               0
Name            0
Type 1          0
Type 2        386
Total           0
             ...
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
Length: 13, dtype: int64

In [102]:
# Verifica se ci sono valori nulli nel dataset
if null_values.sum() > 0:
    print("Sì, ci sono valori nulli nel dataset.")
else:
    print("Non ci sono valori nulli nel dataset.")

# Se ci sono valori nulli, determina se ha senso cercare di riempirli
if null_values.sum() > 0:
    print("Potrebbe avere senso cercare di riempire i valori nulli.")
else:
    print("Non ha senso cercare di riempire i valori nulli.")

Sì, ci sono valori nulli nel dataset.
Potrebbe avere senso cercare di riempire i valori nulli.

In [103]:
# Elimina le righe che contengono valori nulli
df_cleaned = df.dropna()

In [104]:
# Stampa le prime righe del DataFrame pulito
print("Primi cinque righe del DataFrame pulito:")
print(df_cleaned.head())

Primi cinque righe del DataFrame pulito:
   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
6  6              Charizard   Fire  Flying    534  78      84       78

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
6      109       85    100           1      False

In [106]:
df.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

In [3]:
import pandas as pd
df=pd.read_csv("automobile.csv")
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [108]:
# Controlla se ci sono valori nulli nel dataset e conta quanti valori nulli ci sono in ogni colonna
null_values = df.isnull().sum()

# Stampa i valori nulli in ogni colonna
print("Valori nulli in ogni colonna:")
print(null_values)

Valori nulli in ogni colonna:
symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
                     ..
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
Length: 26, dtype: int64

In [109]:
# Cerca le righe che hanno un valore nullo nella colonna num-of-doors
rows_with_null_doors = df[df['num-of-doors'].isnull()]

# Stampa le righe che hanno un valore nullo nella colonna num-of-doors
print("\nRighe con un valore nullo nella colonna num-of-doors:")
print(rows_with_null_doors)

Righe con un valore nullo nella colonna num-of-doors:
    symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
26          1              148.0  dodge       gas      turbo          NaN
60          0                NaN  mazda    diesel        std          NaN

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
26      sedan          fwd           front        93.7  ...           98
60      sedan          fwd           front        98.8  ...          122

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
26         mpfi  3.03    3.39               7.6        102      5500       24
60          idi  3.39    3.39              22.7         64      4650       36

   highway-mpg  price
26          30   8558
60          42  10795

[2 rows x 26 columns]

In [4]:
# Cerca le righe che hanno un valore nullo nella colonna num-of-doors
rows_with_null_doors = df[df['num-of-doors'].isnull()]
# Stampa le righe che hanno un valore nullo nella colonna num-of-doors
print("\nRighe con un valore nullo nella colonna num-of-doors:")
print(rows_with_null_doors)

Righe con un valore nullo nella colonna num-of-doors:
    symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
26          1              148.0  dodge       gas      turbo          NaN
60          0                NaN  mazda    diesel        std          NaN

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
26      sedan          fwd           front        93.7  ...           98
60      sedan          fwd           front        98.8  ...          122

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
26         mpfi  3.03    3.39               7.6        102      5500       24
60          idi  3.39    3.39              22.7         64      4650       36

   highway-mpg  price
26          30   8558
60          42  10795

[2 rows x 26 columns]

In [5]:
# Esamina i dati per trovare valori da sostituire ai valori nulli nella colonna num-of-doors
# Ad esempio, puoi sostituire i valori nulli con il valore più comune nella colonna num-of-doors
most_common_doors = df['num-of-doors'].mode()[0]
print("\nValore più comune nella colonna num-of-doors:", most_common_doors)

# Sostituisci i valori nulli nella colonna num-of-doors con il valore più comune
df['num-of-doors'].fillna(most_common_doors, inplace=True)

# Verifica se ci sono ancora valori nulli dopo la sostituzione
if df.isnull().sum().sum() == 0:
    print("\nNon ci sono più valori nulli nel dataset dopo la sostituzione.")
else:
    print("\nCi sono ancora valori nulli nel dataset.")

Valore più comune nella colonna num-of-doors: four

Ci sono ancora valori nulli nel dataset.

In [6]:
import os
import pandas as pd

# Nome dell'utente
user_name = os.getlogin()

# Definisci il percorso relativo alla directory dei dataset
directory_path = r"C:\Users\{}\Desktop\EPICODE JUPYTER LAB\Classe jupyter\beginner datasets".format(user_name)

# Ottieni la lista dei file nella directory
file_list = os.listdir(directory_path)

# Inizializza una lista per memorizzare i nomi dei file con dati nulli
files_with_null_data = []

# Ciclo per esaminare ciascun file
for file_name in file_list:
    # Verifica se il file ha estensione .csv
    if file_name.endswith('.csv'):
        # Costruisci il percorso completo del file
        file_path = os.path.join(directory_path, file_name)
        
        # Carica il file in un DataFrame
        df = pd.read_csv(file_path)
        
        # Controlla se ci sono dati nulli nel DataFrame
        if df.isna().sum().sum() > 0:
            # Se ci sono dati nulli, aggiungi il nome del file alla lista
            files_with_null_data.append(file_name)

# Stampare i nomi dei file con dati nulli
print("I seguenti file contengono dati nulli:")
for file_name in files_with_null_data:
    print(file_name)

I seguenti file contengono dati nulli:
automobile.csv
elections.csv
france.csv
hepatitis.csv
house.csv
income.csv
mice.csv
nba.csv
pokemon.csv
population.csv
seeds.csv
traffic.csv
wikipedia.csv